@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* width: 100vw;
    height: 100vh;
    scroll-behavior: smooth; */
}

body{
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    /* width: 90%; */
    min-height: 100vh;
    background-size: 100vw 100vh;
    /* height: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background : linear-gradient(rgb(194, 239, 194),rgb(243, 243, 171));
    width: 90vmin;
    height: 90vmin;
    border: 2.5px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    border-radius: 7px;
    transform: scale(1.02);
}
.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}
.food{
    background: linear-gradient(red , purple);
    border: .25vmin solid black;
    border-radius: 7px;
}

#score{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 30px;
    font-family: 'New Tegomin', serif;
    font-weight: bold;
}

#hiscorebox{
    position: absolute;
    top: 40px;
    right: 150px;
    font-size: 30px;
    font-family: 'New Tegomin', serif;
    font-weight: bold;
}

